@import "bourbon";
@import "vars.scss";

body{
	position: relative;
	overflow-x: hidden;
	min-width: 320px;
	font: 18px/24px  $main_font;
  color: #373f41;;
	background-color: #fff;
}

a,button,input,textarea{
	text-decoration: none;
	outline: 0;
	border: 0;
	@include transition(color 0.4s ease, background-color 0.4s ease, background-image 0.4s ease, border-color 0.4s ease);
	&:focus{
		outline: 0;
	}
}

input,textarea{
	box-sizing: border-box;
}

textarea{
	resize:none;
}

button{
	&:hover{
		cursor: pointer;
	}
}

.hidden{
	width: 0;
	height: 0;
}

.btn{
	width:300px;
	height: 60px;
	background-color: $mian_color;

	color: #000;
	font: 20px $main_font;
	text-transform: uppercase;
}
